
.catalog__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  flex-basis: 100%;
}

@media (min-width: $tablet) {
  .catalog {
    padding: 0 30px;

    overflow: hidden;
  }

  .catalog__list {
    justify-content: space-between;

    padding: 0;
  }

  .catalog__item {
    width: 45.8%;
    flex-basis: auto;

    box-sizing: border-box;
  }
}

@media (min-width: $desktop) {
  .catalog {
    padding: 0 110px;
  }

  .catalog__list {
    justify-content: flex-start;

    padding: 0;
  }

  .catalog__item {
    width: 20.08%;
    margin-right: 6.56%;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
