.compare-block {
 padding-top: 35px;
 padding-bottom: 36px;
}

.compare-block__pictures-wraper {
  position: relative;

  margin-bottom: 31px;
}

.compare-block__before {
  text-align: center;
}

.compare-block__before-picture {
  content: url("../img/before-mobile@1x.png");
  width: 100%;
}

.compare-block__after {
  position: absolute;
  top: 0;
  right: 0;

  width: 50%;
  height: 100%;

  background: $bggray url("../img/after-mobile@1x.png") top 0 right 0 no-repeat;
  background-size: cover;
  overflow: hidden;
}

// .compare-block__after-picture {
//   display: block;
//   position: absolute;
//   top: 0;
//   right: 0;
//   height: 100%;
// }

@media (min-width: $tablet) {
  .compare-block {
   padding: 0;
   background-image: linear-gradient(#ffffff 100px, $bggray 100px);
  }


  .compare-block__before-picture {
    content: url("../img/before-tablet@1x.png");

    width: 677px;
    height: 499px;
  }
}
