.features-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;

  list-style: none;

  counter-reset: list-item;
}

.features-list__item {
  position: relative;

  min-height: 60px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 80px;
  box-sizing: border-box;

  counter-increment: list-item;

  p {
    margin: 0;
    margin-top: 3px;
    @include par;
  }

  &:last-child br {
    display: none;
  }

  &:before {
    content: "";
    position: absolute;
    top:0;
    left:0;

    height: 60px;
    width: 60px;

    background: $salad 50% no-repeat;
  }
  &:first-child::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }
  &:nth-child(2)::before {
    background-image: url("../img/advantage-powder@1x.png");
  }
  &:nth-child(3)::before {
    background-image: url("../img/advantage-dining@1x.png");
  }
  &:last-child::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

@media (min-width: $tablet) {
  .features-list {
    margin-bottom: -31px;
  }

  .features-list__item {
    min-height: 230px;
    margin-bottom: 87px;
    padding: 30px;
    padding-top: 113px;
    width: 50%;

    p {
      margin: 0;
      padding-right: 75px;
      font-size: 16px;
      line-height: 24px;
    }

    &:last-child br {
      display: inline;
    }

    &:before {
      left: 30px;

      height: 80px;
      width: 80px;
    }
    &:first-child::before {
      background-image: url("../img/advantage-leaf@1x.png");
    }
    &:nth-child(2)::before {
      background-image: url("../img/advantage-powder@1x.png");
    }
    &:nth-child(3)::before {
      background-image: url("../img/advantage-dining@1x.png");
    }
    &:last-child::before {
      background-image: url("../img/advantage-clock@1x.png");
    }

    &:after {
      content: counter(list-item);

      position: absolute;
      top: -40px;
      right: 108px;
      z-index: -1;

      font-size: 281px;
      line-height: 281px;

      color: $bggray;
    }

    &:first-child::after {
      right: 124px;
    }
  }
}

@media (min-width: $desktop) {
  .features-list {
    margin: 0;
    justify-content: space-between;
  }

  .features-list__item {
    min-height: 230px;
    margin-bottom: 20px;
    padding: 0;
    padding-top: 111px;
    width: 20.1%;
    box-sizing: border-box;

    p {
      padding: 0;
    }

    &:before {
      left: 0;
    }
    &:first-child::before {
      background-image: url("../img/advantage-leaf@1x.png");
    }
    &:nth-child(2)::before {
      background-image: url("../img/advantage-powder@1x.png");
    }
    &:nth-child(3)::before {
      background-image: url("../img/advantage-dining@1x.png");
    }
    &:last-child::before {
      background-image: url("../img/advantage-clock@1x.png");
    }

    &:after {
      right: 0px;
    }

    &:first-child::after {
      right: 15px;
    }
  }
}
