.features {
  padding: 20px;

  border-bottom: 1px solid $bggray;
}

.features__title {
  margin: 0;
  margin-top: -4px;
  margin-bottom: 27px;
  padding: 0;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.features__list {
  margin: 0;
}
