.live-example {
  padding-top: 20px;

  background-color: $bggray;
}

.live-example__title {
  margin: 0 20px;
  margin-bottom: 23px;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.live-example__description {
  margin: 0 20px;
  margin-bottom: 26px;
  padding: 0;
  padding-right: 10px;

  @include par;
}

.live-example__container {
  display: flex;
  flex-direction: column;

  margin: 0 20px;
}

.live-example__results {
  margin: 0;
  margin-bottom: 10px;
}

@media (min-width: $tablet) {
  .live-example {
    background-color: #ffffff;
  }

  .live-example__title {
    margin: 23px 30px 64px;

    font-size: 60px;
  }

  .live-example__description {
    margin: 0 30px 50px;

    font-size: 16px;
    line-height: 24px;
  }

  .live-example__container {
    margin: 0 30px;
    margin-bottom: 63px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop) {
  .live-example {
    position: relative;

    display: flex;
    padding: 0;

    background:
    linear-gradient(#ffffff 195px, $bggray 195px);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: $padding;

      background:
      linear-gradient(#ffffff 195px, #eaeaea 195px);
    }
  }

  .live-example__wraper {
    flex-basis: 50%;
    padding-left: $padding;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-top: 60px;
  }

  .live-example__compare {
    flex-basis: 50%;
    margin-right: 4.86%
  }

  .live-example__title {
    margin: 0 0 145px;
  }

  .live-example__description {
    margin: 0 0 66px;
    padding-right: 175px;
  }

  .live-example__container {
    margin: 0;

    flex-direction: column;
    justify-content: flex-start;
  }

  .live-example__results {
    margin-bottom: 46px;
  }
}
