.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  right: 0;
  top: -65px;

  width: 64px;
  height: 65px;

  font-size: 0.01px;
  color: transparent;

  overflow: hidden;

  background: transparent url("../img/icon-mobile-menu.svg") 50% no-repeat;
  background-size: 24px 18px;
  border: none;

  &--close {
    background-image: url("../img/icon-close.svg");
    background-size: 18px 18px;
  }
}


.main-nav__list {
  margin: 0;
}

@media (min-width: $tablet) {
  .main-nav__toggle {
    display: none;
  }
}
