.page-title {
  padding: 16px 20px 28px;
  margin: 0;

  font-size: 36px;
  font-weight: 400;
  line-height: 60px;

  border-bottom: 1px solid #e6e6e6;

  &--form {
    padding-bottom: 25px;

    border-bottom: none;
  }
}

@media (min-width: $tablet) {
  .page-title {
    padding: 31px 29px 25px;
    margin: 0;

    font-size: 60px;

    border-bottom: none;
  }
}

@media (min-width: $desktop) {
  .page-title {
    padding: 70px 110px 26px;
  }
}
