.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  padding-top: 11px;
  padding-bottom: 15px;
  padding-left: 20px;

  border-bottom: 1px solid #e6e6e6;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-image {
  display: block;
  height: 38px;
  width: 191px;

}

@media (min-width: $tablet) {
  .page-header {
    flex-direction: row;
    align-items: center;

    padding: 20px 30px;
  }

  .page-header__logo {
    padding: 0;
    margin-right: 30px;
    border: none;
  }

  .page-header__logo-image {
    height: 58px;
    width: 173px;
  }

  .page-header__main-nav {
    margin-left: auto;
  }
}

@media (min-width: $desktop) {
  .page-header {
    padding: 50px 110px 0;
    box-sizing: content-box;

  }

  .page-header__logo-image {
    height: 59px;
    width: 202px;
  }

  .page-header__main-nav {
    flex-basis: 50%;
  }
}
