.programs__header {
  margin-bottom: 22px;
}

.programs__wrapper {
  margin: 0 20px;
}

.programs__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.programs__card {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
