.programs-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 29px;

  color: #ffffff;

  background: url("../img/index-background-mobile@1x.jpg") no-repeat 0 0;
  background-size: 100% auto;
}

.programs-header__prime-title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;

  text-align: center;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.programs-header__slogan {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  @media(min-width: 400px) {
    margin-bottom: 100px
  }
  @media(min-width: 480px) {
    margin-bottom: 180px
  }
}

.programs-header__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.programs-header__picture {
  content: url("../img/index-can-mobile@1x.png");
  width: 280px;
  margin-bottom: 3px;
}

.programs-header__link {
  align-self: stretch;
  margin: 0 20px;
  padding: 11px 0;

  @include link(14px, 18px)
  color: #ffffff;
  font-weight: 400;

  background-color: $salad;
  &:hover {
    background-color: $salad-hover;
  }
  &:active {
    background-color: $salad-hover;
    color: rgba(#ffffff, 0.3)
  }
}

@media (min-width: $tablet) {
  .programs-header {
    align-items: flex-start;

    margin: 0 30px;
    padding-top: 31px;

    color: #111111;

    background: #ffffff;
  }

  .programs-header__prime-title {
    margin-bottom: 41px;
    padding-left: 87px;

    text-align: left;
    font-size: 60px;
    line-height: 60px;
  }
  .programs-header__slogan {
    margin-bottom: 20px;
    padding-left: 87px;

    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }

  .programs-header__picture {
    content: url("../img/index-can-tablet@1x.jpg");
    width: 100%;
    margin-bottom: 0;
  }

  .programs-header__link {
    position: absolute;
    left: 0;
    top: 28px;
    align-self: flex-start;
    margin: 0;
    margin-left: 89px;
    padding: 16px 26px;
    padding-right: 28px;

    font-size: 20px;
    line-height: 20px;

  }
}
