.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 20px;
}

.slider__label {
  flex-basis: 80px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  border: none;
  background: none;
  outline: none;

  &--left {
    text-align: right;
  }

  &--right {
    text-align: left;
  }
}

.slider__controls {
  position: relative;

  margin: 0 18px;
  padding: 3px 5px;
  height: 6px;
  box-sizing: content-box;
  flex-grow: 1;

  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}

.slider__handle {
  position: relative;

  height: 6px;
  width: 50%;

  background-color: $salad;
  border-radius: 3px;

  pointer-events: none;

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    right: -3px;
    height: 6px;
    width: 6px;
    box-sizing: border-box;

    background-color: $salad;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-shadow:
      inset 0 0 0 12px #ffffff,
      0 2px 5px 0 rgba(#000000, 0.15);

    opacity: 0;
  }
}

.slider__range-handle {
  display: block;
  position: absolute;
  top: 0;

  height: 14px;
  width: calc(100% - 10px);

  background: none;
  cursor: pointer;
  outline: none;
  opacity: 0;

  &:hover + .slider__handle::after {
    box-shadow:
      inset 0 0 0 12px #ffffff,
      0 3px 5px 0 rgba(#000000, 0.25);
  }

  &:active + .slider__handle::after {
    border: 2px solid $salad;
    box-shadow:
      inset 0 0 0 11px #ffffff,
      0 3px 5px 0 rgba(#000000, 0.25);
  }

  &::-ms-tooltip {
    display: none;
  }
}


@media (min-width: $tablet) {
  .slider {
    padding: 0 30px;
  }

  .slider__label {
    flex-basis: auto;
    padding: 7px 0;

    font-size: 20px;

    border-bottom: 1px dotted #bebebe;

    &--left {
      margin-left: 68px;
      margin-right: 19px;
    }

    &--right {
      margin-right: 69px;
      margin-left: 15px;
    }

    &:hover,
    &:focus {
      border-bottom: 1px solid #989898;
    }

    &:active {
      border-bottom: none;
    }
  }

  .slider__controls {
    margin: 0 6px;
    padding: 0;

    background-color: #dcdcdc;
    border: none;
    border-radius: 2.5px;
  }

  .slider__handle {
    background: none;

    &::after {
      top: calc(50% - 17px);
      right: -17px;

      height: 33px;
      width: 33px;

      opacity: 1;
    }
  }

  .slider__range-handle {
    top: -14px;

    height: 34px;
    width: 100%;
  }
}

@media (min-width: $desktop) {
  .slider {
    padding: 0;
  }

  .slider__label {
    &--left {
      margin-left: 40px;
    }

    &--right {
      margin-right: 40px;
    }
  }
}
