.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 19px 0 8px;

  list-style: none;
  border-bottom: 1px solid #d9d9d9;
}

.social-list__item {
  margin-right: 31px;
  margin-bottom: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.social-list__icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  &--fb {
    justify-content: flex-start;
  }

  width: 25px;
  height: 25px;

  cursor: pointer;

  color: #231F20;
  &:hover {
    color: $salad;
  }

  &:active {
    opacity: 0.3
  }
}

.social-list__icon-tablet {
  display: none;
}

@media (min-width: $tablet) {
  .social-list {
    margin-right: -30px;
    padding: 19px 0px 8px 0px;

    border-bottom: none;
  }

  .social-list__item {
    margin-right: 22px;
    &:last-child {
      margin-right: 0;
    }
  }

  .social-list__icon-link {
    width: 30px;
    height: 30px;
  }

  .social-list__icon-mobile {
    display: none;
  }

  .social-list__icon-tablet {
    display: block;
  }
}
