
body {
  position: relative;

  min-width: 320px;
  margin: 0 auto;
  padding: 0;

  font-family: "Oswald", Arial, serif;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  color: #111111;
  background-color: $bggray;
}

.visually-hidden {
  position: absolute;
  height: 0;
  width: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
}

.site-wraper {
  max-width: 500px;
  margin: 0 auto;
  padding: 0;

  background-color: #ffffff;
}

@media (min-width: $tablet) {
  .site-wraper {
    min-width: 768px;
    max-width: 1024px;
  }
}

@media (min-width: $desktop) {
  .site-wraper {
    min-width: 1440px;
    max-width: none;

    background:
    url("../img/index-background-desktop@1x.jpg") no-repeat top 0 right 0,
    linear-gradient(to right, #ffffff 50%, #65a93c 50%) no-repeat 0 0;
    background-size:
    720px 696px,
    100% 696px;

    background-color: #ffffff;


    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg"),
      linear-gradient(to right, #ffffff 50%, #65a93c 50%);
    }

    &--inner {
      background: #ffffff;
    }
  }
}
